.body {
      background-color: gainsboro;
      text-align: center;
    }
​
#jumbo {
  text-align: center;
  background-image: url(https://media1.giphy.com/media/ZwgHC02wifSrCgi9L5/giphy.gif);
}
​
.AboutUs {
  text-align: center;
}
​
#form {
  text-align: center;
  padding: 60px;s
}
​
#aboutpara {
  padding: 80px;
  border: 1px solid black;
}
​
#intro {
  font-size: 100px;
  color: white;
}
​
.lead {
  color: white;
}
​
.spon {
  padding-left: 20px
}
​
#sponlist {
  text-align: center;
}
​
.Nike {
  height: 200px;
  width: 50%;
}

.Supreme {
  height: 200px;
  width: 70%;
}

.Adidas{
  height: 200px;
  width: 50%;
}
​
.Formal {
  height: 500px
}
​
.Outfits {
  text-align: center;
}
​
.Casual {
  height: 500px;
​
}
​
.Street {
  height: 500px;
}
​
.Party {
  height: 500px;
}

.footer {
  color: black;
  height: 100px;
}

.foundlist {
  text-align: center;
}
