<!DOCTYPE html>
<html lang="en" dir="ltr">
​
<head>

  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="AboutUs.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
​
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">X</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/Welcome">Outfit Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Templates/Recent.html">Recent Outfits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
  </div>
</nav>

<body class="body">
  ​
  <div id="jumbo" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 id="intro" class="display-4">XCLUSIVE</h1>
      <p class="lead">Make your best outfit today!</p>
    </div>
  </div>
  ​
  <hr>
  ​
  <div class="AboutUs">
    <h2>About Us</h2>
    <br>
    <div id="aboutpara" class="container">
      <ul>
        <li>
          <p>Our mission at Xclusive Shopping is to help you find the pefect outfit for the perfect event. All you need to do is create an account and put in your event and time of day. When doing this the database will load up the perfect outfit
            idea for you to wear, so you and your friends will have a great time at any event!</p>
        </li>
        <li>
          <p>This website also comes with many "XCLUSIVE" deals for you and your family to enjoy, along with a blogging page for you to blog about your outift experience with Xclusive shopping! Here at Xclusive's, we make sure that everyone is taken
            care of and each person can go to any event feeling happy and confident in what they wear! </p>
        </li>
      </ul>
    </div>
  </div>
  ​
  <hr>
  ​
  <div class="Outfits">
    <h2>Outfits</h2>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h6>Formal</h6>
          <img class="Formal" src="https://cdn.shopify.com/s/files/1/0071/3637/8998/files/tinie-tempah-all-black-outfit-black-coat-black-jeans-black-trainers-mens-street-style.jpg" alt="">
        </div>
        <div class="col-sm">
          <h6>Casual</h6>
          <img class="Casual" src="https://www.puttingmetogether.com/wp-content/uploads/2018/03/2017-03-06a-grey-faux-leather-moto-jacket-outfit.jpg" alt="">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm">
          <h6>Street</h6>
          <img class="Street" src="https://manrepeller-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Harling-street-style-Man-Repeller-February-2018-15-copy.jpg" alt="">
        </div>
        <div class="col-sm">
          <h6>Party</h6>
          <img class="Party" src="https://i.pinimg.com/originals/a1/7d/d8/a17dd8c4f943347841a42d68ed94fe2d.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  ​
  <hr>
  ​
  <div class="Sponsors">
    <h4 class="spon">Sponsors</h4>
    <div id="sponlist" class="container">
      <div class="row">
        <div class="col-sm">
          <h6>Nike</h6>
          <img class="Nike" src="https://cdn.freebiesupply.com/logos/large/2x/nike-3-logo-png-transparent.png" alt="">
        </div>
        <div class="col-sm">
          <h6>Supreme</h6>
          <img class="Supreme" src="https://www.stickpng.com/assets/images/5a7f5f47abc3d121aba71181.png" alt="">
        </div>
        <div class="col-sm">
          <h6>Adidas</h6>
          <img class="Adidas" src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c4f2.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>Founders</p>
    <div id="foundlist" class="container">
      <div class="row">
        <div class="col-sm">
          <h6>Ajani</h6>

        </div>
        <div class="col-sm">
          <h6>DJ</h6>

        </div>
        <div class="col-sm">
          <h6>Carl</h6>

        </div>
      </div>
    </div>
  </div>

</body>
​

</html>
