<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="blog.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div id="modal1" class="modal">
    <div class="modal-content">


    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Outfit Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Recent Outfits</a>
      </li>
    </ul>
    </div>
    </nav>

    <div id="jumbo" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 id="intro" class="display-4">XCLUSIVE Blogging!</h1>
        <p class="lead">Come see our XCLUSIVE features and videos!</p>
      </div>
    </div>

    <body class="body">

      <!doctype html>

<html lang="en-US">

  <head>

    <meta charset="utf-8">

    <title>Xclusive Blogging!</title>

    <link rel="stylesheet" href="index.css">

  </head>

  <body>

    <h2>XCLUSIVE Feature of the Month!!</h2>

    <img class="img" src="https://www.bing.com/th?id=OIP._l9zFk1LcpQcAUqiFqAlWgHaHa&pid=Api&rs=1"/>

    <p>XCLUSIVE Shopping brings you an Xclusive blog page that
      comes with different testimonials from those
       who have benefited from shopping here. </p>


    <h2>Top Voted Videos From Our Customers!</h2>

    <ol>

      <li>

        <a href="https://www.youtube.com/watch?v=4VEi8dnmeeg">Fasion Ideas for Men!</a>

      </li>

      <li>

        <a href="https://www.youtube.com/watch?v=XmQo0VJM8GI">Fasion Ideas For Women!</a>

      </li>

      </li>

      <li>

        <a href="https://www.youtube.com/watch?v=tNC9pTWY3cA">Kids Fashion!</a>

      </li>

      </li>

    </ol>


  </body>

    <body class="body">

      <h2>How XCLUSIVE Shopping has helped Me!</h2>

   <p>If there's one thing I know about me, I know that I love to go out.
   But at times it's hard to find an outfit every weekend, but ever since I went on
 XCLUSIVE Shopping, my life had never been the same!
 I can go out every weekend and look fresh!
Thanks XCLUSIVE!-Rod</p>

</html>
