<!--welcome.html-->
<!DOCTYPE html>
<html lang="en">

<head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <a class="navbar-brand" href="#">
        <img src="https://media0.giphy.com/media/xT9Igpm06uM5OJ5lVS/source.gif" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="Templates/AboutUs.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Templates/Recent.html">Recent Outfits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <body style="background-color:#dcdcdc">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>XCLUSIVE!</title>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to XCLUSIVE!</h1>
  </div>
</head>

<body>

<center>
  <h1>Welcome to the Xclusive Xperience!</h1>
<h2>Live.Life.Xclusive</h2>
<form method="POST">
  <body font="background-color:#dcdcdc">

  Gender:
   <select name="gender">
    <option value="male">Male</option>
    <option value="Female">Female</option>
    </select>
    <br>
  Formality:
  <select name="formality">
    <option value="casual">Casual</option>
    <option value="business-casual">Business Casual</option>
    <option value="fancy">Fancy</option>
    </select>
    <br>
  Time of Day:
   <select name="time">
    <option value="day">Day</option>
    <option value="night">Night</option>
    </select>
    <br>
  Season:
   <select name="season">
     <option value="spring">Spring</option>
    <option value="summer">Summer</option>
    <option value="winter">Winter</option>
    <option value="fall">Fall</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Go!">
  </form>
</body>

</center>
</html>

</body style="background-color:#dcdcdc">
